<footer>
  <aside>
    <div>
      <h2>Brian Munoz</h2>
      <a href="https://www.instagram.com/codebrian_/">
        <img src="images/instagram.svg" alt="instagram logo">
      </a>
      <p>Long Beach, CA</p>
      <p class="link">theluckorange@yahoo.com</p>

    </div>
    <div class="foot-nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="https://github.com/colorlessenergy">Work</a></li>
      </ul>
    </div>
  </aside>
  <div>
    <p class="copy">&copy; 2017 Brian Munoz</p>
  </div>
</footer>
