.more-info {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
}

.more-info div {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 100%;
}

.more-info div a {
  border: 3px solid #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: border 1s ease;
}

.more-info div a:hover {
  border: 3px solid cyan;
}

.more-info div h3, .contact-foot h3 {
  letter-spacing: 2px;
  line-height: 1;
  text-transform: uppercase;
}

.more-info div:nth-child(1) {
  background-color: rgb(3, 30, 50);
}

.more-info div:nth-child(2) {
  background-color: rgb(5, 39, 65);
}

.work-info {
  align-items: center;
  background-color: rgb(3, 30, 50);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  text-align: center;
}

.work-info img {
  margin: 0 30px;
  width: 50%;
}

.work-info h3 {
  font-size: 17px;
  line-height: 1;
  letter-spacing: 1px;
}

@media screen and (min-width: 961px) {
  .more-info {
    flex-direction: row;
  }

  .work-info {
    flex-direction: row;
  }

  .work-info img {
    width: 30%;
  }
}
